<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{application.name}"></title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap4.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/iro.js"></script>
    <script src="/js/bootstrap4.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/panel.css">
</head>

<body>
    <div class="row">
        <div class="offset-1
                    col-10
                    container
                    pane-main
                    mt-4">
            <div class="row
                        p-3">
                <div th:replace="~{fragments/grouplist.html :: grouplist}"></div>
                <div class="container
                            col-7
                            m-3">
                    <h1>LOGO</h1>
                    <h2>Groupname</h2>
                    <div th:replace="~{fragments/options.html :: options}"></div>
                    <div th:replace="~{fragments/colorlist.html :: colorlist}"></div>
                    <div class="container
                                button-ok"
                         onclick="executeCommand()">
                        <img src="/img/accept.svg">
                    </div>
                </div>
                <div th:replace="~{fragments/modulelist.html :: modulelist}"></div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/onlay.html :: onlay}"></div>
</body>
<script src="/js/gui.js"></script>
<script src="/js/api.js"></script>
<script src="/js/logic.js"></script>
</html>