<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{application.name}">Title</title>
    <link type="text/css" rel="stylesheet" href="/css/panel.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/panel.js"></script>
</head>
<body>
    <h1 th:text="#{application.name}"></h1>
    <h2>WebPanel</h2>

    <div class="group-control">
        <form>
            <div for="red">Red</div>
            <input id="red" type="range" class="slider" max="255" value="0" onchange="updateEvent()">
            <div for="green">Green</div>
            <input id="green" type="range" class="slider" max="255" value="0" onchange="updateEvent()">
            <div for="blue">Blue</div>
            <input id="blue" type="range" class="slider" max="255" value="0" onchange="updateEvent()">
            <div for="speed">Interval</div>
            <input id="speed" type="range" class="slider" min="1" value="0" max="1200" onchange="updateEvent()">
        </form>
    </div>

</body>
</html>