<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="colorlist">
        <div id="colorlist"
             class="container
                    row-fluid
                    list-horizontal
                    mb-2
                    p-0">
             <div id="addColor"
                  class="box
                         p-2
                         col-lg-1
                         col-sm-2"
                  onclick="addColor()">
                  <img src="/img/add.svg">
             </div>
        </div>
    </div>
</body>
</html>