<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="durationpane"
     class="pane-duration
            mb-1">
    <div class="box
                darker">
        <div class="headline">Dauer</div>
    </div>
    <!--Sekunden-->
    <div class="box
                pb-1">
        <div class="row">
            <div class="container
                        headline-small">Sekunden</div>
        </div>
        <div class="row">
            <div class="col-1
                        offset-3
                        box
                        duration-button"
                 onclick="decrementSecs()">
                <img src="/img/arrow-left.svg">
            </div>
            <div class="col-4">
                <input id="seconds"
                       type="number"
                       min="0"
                       max="60"
                       step="1"
                       value="0"
                       onchange="fetchValues()"/>
            </div>
            <div class="col-1
                        box
                        duration-button"
                 onclick="incrementSecs()">
                <img src="/img/arrow-right.svg">
            </div>
        </div>
    </div>

    <!--Minuten-->
    <div class="box
                pb-1">
        <div class="row">
            <div class="container
                       headline-small">Minuten</div>
        </div>
        <div class="row">
            <div class="col-1
                        offset-3
                        box
                        duration-button"
                 onclick="decrementMins()">
                <img src="/img/arrow-left.svg">
            </div>
            <div class="col-4">
                <input id="minutes"
                       type="number"
                       min="0"
                       max="60"
                       step="1"
                       value="0"
                       onchange="fetchValues()"/>
            </div>
            <div class="col-1
                        box
                        duration-button"
                 onclick="incrementMins()">
                <img src="/img/arrow-right.svg">
            </div>
        </div>
    </div>

    <!--Stunden-->
    <div class="box
                pb-1">
        <div class="row">
            <div class="container
                       headline-small">Stunden</div>
        </div>
        <div class="row">
            <div class="col-1
                        offset-3
                        box
                        duration-button"
                 onclick="decrementHours()">
                <img src="/img/arrow-left.svg">
            </div>
            <div class="col-4">
                <input id="hours"
                       type="number"
                       min="0"
                       max="24"
                       step="1"
                       value="0"
                       onchange="fetchValues()"/>
            </div>
            <div class="col-1
                        box
                        duration-button"
                 onclick="incrementHours()">
                <img src="/img/arrow-right.svg">
            </div>
        </div>
    </div>

    <!--Tage-->
    <div class="box
                pb-1">
        <div class="row">
            <div class="container
                       headline-small">Tage</div>
        </div>
        <div class="row">
            <div class="col-1
                        offset-3
                        box
                        duration-button"
                 onclick="decrementDays()">
                <img src="/img/arrow-left.svg">
            </div>
            <div class="col-4">
                <input id="days"
                       type="number"
                       min="0"
                       max="365"
                       step="1"
                       value="0"
                       onchange="fetchValues()"/>
            </div>
            <div class="col-1
                        box
                        duration-button"
                 onclick="incrementDays()">
                <img src="/img/arrow-right.svg">
            </div>
        </div>
    </div>

</div>

</body>
</html>