<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="grouplist"
     id="grouplist"
     class="list-vertical
            col-2
            m-3
            p-0">
    <div id="addGroup"
         class="box
                row"
         onclick="showGroupCreationOnlay()">
        <div class="col-6
                    offset-3
                    pt-2">
            <img src="/img/add.svg">
        </div>
    </div>
</div>

</body>
</html>