<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="modepane"
     class="box
            mt-2
            pane-mode">
    <div class="box
                darker">
        <h3 class="container">Modus</h3>
    </div>
    <div class="row
                box
                p-1">
        <div class="col-2
                    p-0">
            <label class="custom-control
                          custom-checkbox">
                <input id="isFading"
                       type="checkbox"
                       class="custom-control-input"
                       onchange="fadingToggled()">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
        <div class="col-10
                    pb-1">
            Überlaufende Farben
        </div>
    </div>
</div>

</body>
</html>