<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="modulelist"
     id="modulelist"
     class="list-vertical
            col-2
            ml-lg-3
            m-sm-0
            my-sm-3
            p-0">
    <div id="addModule"
         class="box
                row"
         onclick="showAssignModuleOverlay()">
        <div class="col-lg-6
                    col-sm-8
                    offset-sm-2
                    offset-lg-3
                    pt-lg-2
                    pb-lg-0
                    pt-sm-0
                    pb-sm-1">
            <img src="/img/add.svg">
        </div>
    </div>
</div>

</body>
</html>