<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div th:fragment="overlay"
         id="overlay"
         class="overlay
                row
                p-5">
        <div class="overlay-panel
                    container
                    col-lg-6
                    col-sm-8
                    offset-lg-3
                    offset-sm-2
                    p-lg-3
                    p-sm-2">
            <div id="overlay-newGroup">
                <div class="headline-overlay
                           mb-lg-4
                           mb-sm-3"
                     th:text="#{overlay.group.new.headline}">
                </div>
                <div class="headline-small
                            mb-lg-4
                            mb-sm-3"
                     th:text="#{overlay.group.new.text}">
                </div>
            </div>
            <div id="overlay-updateGroup">
                <div class="headline-overlay
                            mb-lg-3
                            mb-sm-3"
                     th:text="#{overlay.group.rename.headline}">
                </div>
                <div class="headline-small
                            mb-lg-4
                            mb-sm-2"
                     th:text="#{overlay.group.rename.text}">
                </div>
                <div class="headline
                            mb-3">
                </div>
            </div>
            <div id="overlay-updateModule">
                <div class="headline-overlay
                            mb-lg-3
                            mb-sm-3"
                     th:text="#{overlay.module.rename.headline}">
                </div>
                <div class="headline-small
                            mb-lg-4
                            mb-sm-3"
                     th:text="#{overlay.module.rename.text}">
                </div>
                <div class="overlay-moduleName
                            headline
                            mb-3">
                </div>
            </div>
            <div id="overlay-unassignModule">
                <div class="headline-overlay
                            mb-lg-4
                            mb-sm-3"
                     th:text="#{overlay.module.unassign.headline}">
                </div>
                <div class="headline-small
                            mb-lg-4
                            mb-sm-3"
                     th:text="#{overlay.module.unassign.text}">
                </div>
                <div class="overlay-moduleName
                            headline
                            mb-sm-4
                            mb-lg-5">
                </div>
            </div>
            <div id="overlay-deleteGroup">
                <div class="headline-overlay
                            mb-lg-3
                            mb-sm-3"
                     th:text="#{overlay.group.delete.headline}">
                </div>
                <div class="headline-small
                            mb-lg-3
                            mb-sm-3"
                     th:text="#{overlay.group.delete.text}">
                </div>
                <div class="overlay-groupName
                            headline
                            mb-lg-5
                            mb-sm-3">
                </div>
            </div>
            <div id="overlay-errorGroup">
                <div class="headline-overlay
                            mb-lg-4
                            mb-sm-3"
                    th:text="#{overlay.error.headline}">
                </div>
                <div class="headline-small
                            mb-5"
                     th:text="#{overlay.error.text}">
                </div>
            </div>
            <div id="overlay-assignModule">
                <div class="overlay-heading
                            headline-overlay
                            mb-4"
                    th:text="#{overlay.module.assign.headline}">
                </div>
                <div class="row">
                    <div th:fragment="modulelist"
                         id="assign-modulelist"
                         class="list-vertical
                                offset-lg-3
                                offset-sm-2
                                col-sm-8
                                col-lg-6
                                p-0
                                mb-4">
                    </div>
                </div>
            </div>
            <div id="overlay-settingGroup"
                 class="row">
                <div class="headline-overlay
                            mb-lg-4
                            mb-sm-3
                            col-lg-6
                            offset-lg-3"
                     th:text="#{overlay.settings}">
                </div>
                <div class="box
                            setting-button
                            mb-4
                            col-lg-6
                            col-sm-8
                            offset-sm-2
                            offset-lg-3"
                     onclick="showChangePassGroup()"
                     th:text="#{overlay.settings.changePass}">
                </div>
            </div>
            <div id="overlay-changePassGroup">
                <div class="headline-overlay
                            mb-lg-4
                            mb-sm-3"
                     th:text="#{overlay.settings.changePass}">
                </div>
                <div class="row
                            mb-1">
                    <div class="headline-small
                            col-3
                            p-2">
                        Altes PW
                    </div>
                    <input id="overlay-pass-old"
                           class="col-lg-6
                                  col-sm-8"
                           type="password"
                           minlength="1">
                </div>
                <div class="row
                            mb-1">
                    <div class="headline-small
                            col-3
                            p-2">
                        Neues PW
                    </div>
                    <input id="overlay-pass"
                           class="col-lg-6
                                  col-sm-8"
                           type="password"
                           minlength="1">
                </div>
                <div class="row">
                    <div class="headline-small
                            col-3
                            p-2">
                        Neues PW
                    </div>
                    <input id="overlay-pass-check"
                           class="col-lg-6
                                  col-sm-8
                                  mb-4"
                           type="password"
                           minlength="1">
                </div>
            </div>
            <div id="overlay-confirmGroup">
                <div class="row">
                    <div class="col-lg-3
                                col-sm-4
                                btngroup">
                        <div class="button-decline
                                    pt-lg-1
                                    pt-sm-0
                                    float-none"
                             style="margin: auto"
                             onclick="closeOverlay()">
                            <img src="/img/remove.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay-affirmationGroup">
                <div class="row">
                    <div class="col-lg-3
                                col-sm-4
                                btngroup">
                        <div class="button-ok
                                    pt-lg-1
                                    pt-sm-0"
                             onclick="createGroup()">
                            <img src="/img/accept.svg">
                        </div>
                        <div class="button-decline
                                    pt-lg-1
                                    pt-sm-0"
                             onclick="closeOverlay()">
                            <img src="/img/remove.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay-inputGroup">
                <input id="overlay-input"
                       class="mb-4"
                       type="text"
                       maxlength="15">
                <div class="row">
                    <div class="col-lg-3
                                col-sm-4
                                btngroup">
                        <div class="button-ok
                                    pt-lg-1
                                    pt-sm-0"
                             onclick="createGroup()">
                            <img src="/img/accept.svg">
                        </div>
                        <div class="button-decline
                                    pt-lg-1
                                    pt-sm-0"
                             onclick="closeOverlay()">
                            <img src="/img/remove.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>