* {
    color: white;
    text-align: center;
}

body {
    background: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

img {
    width: 100%;
}

input[type=number] {
    background-color: black;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    margin: 0;
    width: 100%;
    border: solid gray 1px;
    font-size: large;
}

.row {
    margin: 0;
}

#logo {
    width: 35%;
    opacity: 0.8;
    margin-top: -10px;
}

.pane-main {
    background-color: rgba(27, 30, 33, 1);
    box-shadow: black 0 0 10px 3px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.pane-options {
    background-color: #4e555b;
    border: solid black 2px;
    box-shadow: black 0 0 5px 0;
}

.pane-duration {
    border: solid black 2px;
    box-shadow: black 0 0 5px 0;
    padding: 0;
    background-color: #4f545a;
}

.pane-mode {
    border: solid black 2px;
    box-shadow: black 0 0 5px 0;
    background-color: #4f545a;
}

.list-vertical {
    background-color: #4e555b;
    border: solid black 2px;
    box-shadow: black 0 0 5px 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-horizontal {
    background-color: #4e555b;
    border: solid black 2px;
    box-shadow: black 0 0 5px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: start;
}

.button-ok {
    background-color: #2be153;
    border: solid black 2px;
    box-shadow: black 0 0 3px 0;
    width: 10%;
}

.button-ok:hover {
    background-color: #28a745;
}

.button-decline {
    background-color: #dd0001;
    border: solid black 2px;
    box-shadow: black 0 0 3px 0;
    width: 10%;
    padding: 5px;
}

.button-decline:hover {
    background-color: #a70001;
}

.button-decline img {
    width: 80%;
    height: 60%;
}

.duration-button{
    background-color: #687379;
    box-shadow: black 0 0 2px 0;
}

.duration-button:hover {
    background-color: #5b6269;
}

.box {
    border: solid black 2px;
    padding: 0;
}

.darker {
    background-color: #393f45;
}

#color-picker-container:hover {
    cursor: grab;
}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}
.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #0e8b00;
    background-image: none;
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #0ead00;
    left: 15px;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

.box img {
    width: 80%;
    height: 80%;
}

#addColor {
    width: 9%;
    margin: 5px;
    background-color: #3d4349;
    display: inline-block;
    float: none;
    box-shadow: black 0 0 1px 0;
}

.color {
    margin: 5px;
    display: inline-block;
    float: none;
    box-shadow: black 0 0 1px 0;
}

.color-remove {
    height: 30%;
    width: 30%;
    display: flex;
    float: right;
    align-content: flex-end;
}

.color-highlight {
    box-shadow: 0 0 5px 2px #007bff;
}

.group, #addGroup {
    background-color: #007bff;
    margin: 5px;
}

.group:hover, #addGroup:hover {
    background-color: #0071d5;
}

.group-name, .module-name {
    font-size: 20px;
}

.btn-remove {
    background-color: red;
    width: 80%;
    height: 50%;
    float: right;
}

.btn-remove:hover {
    background-color: #A00000;
}

.btn-rename {
    background-color: #00A000;
    width: 80%;
    height: 50%;
    float: right;
}

.btn-rename:hover {
    background-color: #007000;
}

.group-highlight, .group-highlight:hover {
    background-color: #6f42c1;
}

.overlay {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.86);
}

.overlay-panel {
    background-color: #4e4e4e;
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
    border-radius: 3px;
    height: 50%;
    margin: auto;
}

#overlay-input {
    border: solid black 2px;
    color: black;
    font-size: 20px;
}

.module, #addModule {
    background-color: #0cb200;
    margin: 5px;
}

#addModule:hover {
    background-color: #0c9100;
    margin: 5px;
}

.module-assigned {
    background-color: #0cb200;
    margin: 5px;
}

.module-unassigned {
    background-color: #a26e85;
    margin: 5px;
}

.module-unassigned:hover {
    background-color: #8c5b6f;
}

.unchecked {
    display: none;
}

#group-name-headline {
    font-size: 30px;
}

.headline {
    font-size: 20px;
}

.headline-overlay {
    font-size: 30px;
}

.headline-small {
    font-size: 15px;
}

@media only screen and (max-width: 1080px) and (max-height: 900px) {

    body {
        background-size: auto;
    }

    #logo {
        width: 60%;
    }

    .group-name, .module-name {
        font-size: 10px;
    }

    .btn-remove {
        height: 100%;
    }

    .btn-rename {
        height: 100%;
    }

    .button-ok {
        width: 20%;
        padding-top: 2px;
        padding-bottom: 3px;
    }

    .overlay .button-ok {
        width: 40%;
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
        float: left;
    }

    .overlay .button-decline {
        width: 40%;
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
        float: right;
    }

    .group img, .module img {
        height: 40%;
        width: 40%;
        margin-top: -5px;
    }

    #group-name-headline {
        font-size: 20px;
    }

    .headline {
        font-size: 15px;
    }

    .headline-overlay {
        font-size: 20px;
    }

    .headline-small {
        font-size: 10px;
    }

    input[type=number] {
        background-color: black;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        margin: 0;
        width: 100%;
        border: solid gray 1px;
        font-size: smaller;
    }

    .overlay {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, 0.86);
    }

    .overlay-panel {
        background-color: #4e4e4e;
        box-shadow: 0 0 2px 1px rgb(0, 0, 0);
        border-radius: 3px;
        height: 100%;
    }

    .overlay {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, 0.86);
    }

    .overlay-panel {
        height: 100%;
    }

    #overlay-input {
        border: solid black 2px;
        color: black;
        font-size: 15px;
    }

    .group, .module {
        text-align: center;
    }
}